/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}



/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;;
}



/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}



/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}
/* Whitney fontface
   ========================================================================== */


@font-face {
font-family: "WhitneyHTF-Medium";
src: url("https://aboutcollector.netlify.app/fonts/WhitneyHTF-Medium.otf") format("opentype");
}

@font-face {
font-family: "WhitneyHTF-SemiBold";
src: url("https://aboutcollector.netlify.app/fonts/WhitneyHTF-SemiBold.otf") format("opentype");
}
   

   

/* Customer CSS starts here
   ========================================================================== */
    body{
        
        color:#030033;
        font-size: 16px;
        line-height: 20px;;
        font-family: "WhitneyHTF-Medium", Arial, Helvetica, sans-serif;
         text-align: center;
         background:#F9F7FF;
         color: rgba(3, 0, 51, 0.5);
         
    }
    p{
      margin:0 0 16px 0;
    }
    .semibold{
      font-family: "Whitney Semibold";
    }
    table{
        width: 100%;
        border: 0;
    }
    th,td{
      padding-top:3px;
      padding-bottom:3px;
    }
    .noPadding{
      padding:0;
    }
    .items thead th,
    .items tfoot td{
       padding-top:8px;
      padding-bottom:8px;
    }

    th{
        
        text-align: left;
    }
    td{
        vertical-align: top;
    }

    .summary{
      margin-bottom:30px;
    }

    .items{
      margin-bottom:70px;
    }
    .items thead th{
     border-bottom:1px solid #000;
      padding-right:15px;
      box-sizing: border-box;
     
    }
    .items tfoot td{
     border-top:1px solid #000;
     font-weight: bold;; 
     
    }
    
    .items tbody td{
      border-bottom:1px solid #e6e6e6;
      padding-right:15px;
      box-sizing: border-box;
      padding-top:5px;
      padding-bottom:5px;
    }
    .items thead th:last-child,
    .items tbody td:last-child{
    
     padding-right:0px;
    
    }

    .separator td{
      border-bottom:1px solid #e6e6e6;
    }
    .separator tr:last-child td:{
      border:none;
    }
    
    .text-align-right{
        text-align: right;;
    }
    .v-align-bottom{
        vertical-align: bottom;
    }

    
    .header{
      padding:16px;
      font-family: "WhitneyHTF-Semibold", Arial, Helvetica, sans-serif;
      color:#030033;
      font-size:17px;
      position: relative;
      margin:8px 0;
    }
    .back{
      font-family: 'FontAwesome';
      position: absolute;
      color: rgba(3, 0, 51, 0.5);
      left: 8px;
    top: 8px;
    font-size: 24px;
    padding: 8px 12px;
    }
    .back:after{
     
    }
   .wrapper{
       max-width:414px;
       margin:0 auto;
       box-sizing: border-box;
       text-align: left;;
       background:#fff;
       border-top:1px solid rgba(3, 0, 51, 0.08);
       border-bottom:1px solid rgba(3, 0, 51, 0.08);
       margin:24px auto;
   }
   .header + .wrapper{
     margin-top:0;
   }

   .invoiceType{
       font-size: 32px;
       line-height: 32px;
   }
   .small{
       font-size:11px;
       line-height: 15px;;
   }
   .large{
       font-size:15px;
       line-height: 19px;
   }
   .tiny{
       font-size:9px;
       line-height: 13px;
   }
   .tiniest{
      font-size:9px;
       line-height: 8px;;
   }
   .grey{
       color:#777777;
   }
   
   .signature{
     margin:15px 0;
   }
   .list{
     margin:0;
     padding:0;
     list-style: none;
     
   }

   .list li{
     padding:0;
     margin:0;
     
     background:#fff;
     border-bottom:1px solid rgba(3, 0, 51, 0.08)
   }
   .list li:last-child{
     border-bottom: none;;
   }

    .list li a{
      
      display:block;
     
     color:#030033;
     padding:16px;
     
   }
   .list li a:focus{
    background:rgba(3, 0, 51, 0.05)
   }



   .listItem{
     position:relative;
   }
    .listItem:after{
      font-family: 'FontAwesome';
     position: absolute;
    font-weight: 100;
    color: rgba(3, 0, 51, 0.2);
     font-size:12px;
     right:0px;
     top:0px;
     height:100%;
   }
    .listItem:after{
      content:'\f054';
    }
   .listItem.active:after{
     content:'\f078'
   }
   
   li a.listItem:after{
     right:16px;
     top:16px;
   }
    dt.listItem:after{
      right:0px;
     top:0px;
   }

   .about{
     padding-top:16px;
     padding-right:16px;
     padding-left:16px;
   }
   
   
   .branding{
      padding:8px 16px;
      
    }

   dl{
     margin:0;
     padding:16px;
     border-bottom:1px solid rgba(3, 0, 51, 0.08)
   }
    dt{
     color:#030033;
     margin:0 0 8px 0;
   }
   dd{
     margin:0;
   }